	/* !!! WEB VERSION !!! */
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    margin: 0;
	font-size: 14px;
	display: flex;
	flex-direction:column;
	min-height: 100vh;
	max-width: 100vw;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #F1F1F1;
}
::-webkit-scrollbar:hover {
	background-color: #E8E8E8;
}

::-webkit-scrollbar-thumb {
	background-color: #c5c5c5;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #acacac;
}

h2 { /* Project title */
	font-weight: 400;
}

p {
	font-weight: 400;
	line-height: 30px;
}

a {
	color: #747474;
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	color: #000;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
	width: 25%;
    background-color: #fff;
    color: #000;
	height:100vh;
    text-align: center;
    overflow-y: auto;
	border-right: 1px solid #F5F5F5;
}

#navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height:100%;
}

.header h1 {
	margin-top: 20%;
    font-weight: 500;
	font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    justify-content: center;
}

nav li {
    margin: 30px 25px 15px 25px;
}

nav a {
    color: #B1B1B1; 
    text-decoration: none;
	transition: 0.5s;
	font-weight: 500;
	letter-spacing: .1rem;
}

nav a:hover {
	color: #747474;
}

nav a.active {
  color: #000;
  font-weight: 500;
}

.dropdown-menu {
	margin-top: 20px;
	display: block;
	position: relative;
	list-style-type: none;
	z-index: 999;
	text-align: center;
}

.dropdown-menu a {
	letter-spacing: 0.05rem;
	font-weight: 400;
}

.dropdown-menu li {
    margin: 15px 25px 15px 15px ;
}

.dropdown: {
	display: block;
}

.menuicon {
  width: 6vw;
  height: 0.8vw;
  background-color: black;
  margin: 0.8vw 0;
}

.menubutton {
	position: absolute;
	top:40%;
	left: 20px;
	z-index: 999;
	display: none;
	border: none;
	cursor: pointer;
	background-color: #fff;
	
}

	/* LANGUAGE SELECTOR */

.lang-buttons {
	position: absolute;
	top: 10px;
	left: 20px;
	z-index: 999;
}

.lang-button {
	display: inline-block;
	margin-left: 0px;
	padding: 8px 8px;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Quicksand', sans-serif;
	color: #8E8E8E;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	background-color: transparent;
	text-decoration: none;
}

.lang-button:hover {
	color: #000;
}

#active {
	font-weight: 400;
	color: #000;
}

	/* GENERAL CONTENT */

.content {
    margin-left: 25%; /* Add margin to push content to the right of the sidebar */
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	padding: 4% 0% 4% 0%;
}

.text-container {
	width: 56%;
	text-align: justify;
	display: block;
	justify-content: center;
	align-items: center;
}

.gallery-container .text-container {
align-self:flex-start;	
padding: 12px;
	margin:auto;
}


.navfooter {
	display:block;
	width: 100%;
	position: relative;
	background-color: #fff;
	color: #707070;
	font-size: 8px;
	margin-top: 40%;
	letter-spacing: .05rem;
}

.footer {
	display: none;
}

	/* PORTFOLIO page */

.gallery {
display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
	justify-content:center;
}

.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.gallery-column {
  flex: 32%;
  max-width: 32%;
  padding: 0 4px;
}

.des-gallery {
display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
	justify-content:center;
}

.des-gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.des-gallery-column {
  flex: 24%;
  max-width: 24%;
  padding: 0 4px;
}


.hidden {
	display: none;
	padding: 0;
}

	/* portfolio: FILTER BUTTONS */
 
.buttons {
	margin-bottom: 2%;
}
 
.button {
	display: inline-block;
	margin-left: 0px;
	padding: 8px 8px;
	font-size: 12px;
	font-weight: 400;
	font-family: 'Quicksand', sans-serif;
	color: #8E8E8E;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	background-color: transparent;
}
 
.button:hover {
	color: #000;
}
 
.button:active {
	color: #000;
	text-decoration: underline;
}

	/* home: RANDOM IMAGE */

.random-image {
	flex-basis: 50vw;
	max-width: 50vw;
	box-sizing: border-box;
	position:relative;
	
}

.random-image #randomImage {
	position:absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	max-height: 90%;
	max-width: 100%;
}

	/* GALLERY IMAGE POPUP */ 

.image-popup {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
}

.image-popup .close-button {
	color: #B1B1B1;
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	transition: 0.5s;
}

.close-button:hover {
	color: #747474;
	transition: 0.5s;
}

.image-popup #popupImage {
	display: block;
    max-width: 80vw;
    max-height: 90vh;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(255, 255, 255, 0.7);
}

.prev-arrow {
	color: #B1B1B1;
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 20px;
	cursor: pointer;
	transition: 0.5s;
}

.prev-arrow:hover {
	color: #747474;
	transition: 0.5s;
}

.next-arrow {
	color: #B1B1B1;
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	right: 20px;
	cursor: pointer;
	transition: 0.5s;
}

.next-arrow:hover {
	color: #747474;
	transition: 0.5s;
}

	/* PROJECT GALLERY DISPLAY page */

.gallery-container {
	display: flex;
	flex-direction:column;
	width: 90%;
	text-align: center;
	justify-content: center;
}

.gallery-sub {
	display:inline-flex;
	width:100%;
	justify-content:center;
	margin-bottom: 36px;
}

.gallery-container figure {
	margin:auto;
		padding: 12px;
	display:block;
	height:auto;
	font-size: 16px;
	font-weight:400;
}

.gallery-container img {

	align-self: flex-start;
	height:auto;
	max-width: 100%;
}

.thumbnail-container {
	padding-top: 1%;
	overflow-x: scroll; 
	white-space: nowrap;
	width: 100%;
}

.thumbnail {
	object-fit: cover;
	height: 8vh;
	width: auto;
	padding: 2px;
	transition: 0.1s;
}

.thumbnail.active-thumbnail {
	height:calc(8vh + 4px);
	transition: 0.1s;
	padding: 0px;
}

.main-image-container {
	display:flex;
	height: 60vh;
	width: 100%;
	align-items:center;
	justify-content:center;
}

.main-image {
	max-width: 50vw;
	max-height: 60vh;
	transition: opacity 0.3s ease;
	justify-content: center;
}



	/* project gallery: SCROLLBAR */

.thumbnail-container::-webkit-scrollbar {
	height: 4px;
	background-color: #fff;

}

.thumbnail-container::-webkit-scrollbar-thumb {
	background-color: #EAEAEA;
	border-radius: 20px;
}

.thumbnail-container::-webkit-scrollbar-thumb:hover {
	background-color: #DCDCDC;
}

	/* ABOUT page */

.about {
	display: flex;
    align-items: center;
	justify-content: center;
	vertical-align:top
}

.aboutimg{
	max-width: 50%;
	padding: 3%;
	vertical-align:top
}

	/* PROJECTS LIST page */

.project-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project-list li {
    margin-bottom: 10px;
}

.project-list li a {
    display: inline-block;
    color: #707070;
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px;
	transition: 0.5s;
}

.project-list li a:hover {
    color: #000;
	transition: 0.5s;
}

.hdbr {
	display:none;
}

/* !!! MOBILE VERSION !!! */

@media (max-width: 1080px) {
	
.hdbr {
	display:block;
}	

body {
	font-size: 36px;
}

h2 { /* Project title */
	font-size: 48px;
}

p {
	font-size: 20px;
	line-height: 50px;
}

.content {
	margin: 0% 2% 0% 2%;
}

	/* HEADER */
	
.header {
	position:relative;
	overflow-y: inherit;
	background-color: rgba(255, 255, 255, 0.95);
	width: auto;
	height:auto;
}

.header h1 { /* Site title */
	margin-top: 6%;
	font-size: 72px;
	z-index:1000;
}

	/* MENU */

nav {
	margin-top:5%;
	display: none;
	height: 100vh;
	width: 100vw;
	z-index:999;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.95);
	padding-bottom: 80px;
}

nav ul {
	display: block;
	margin-top: 25%;
}

nav li {
    margin: 45px 25px 25px 25px;
}
	
nav a {
	font-size: 48px;
}

nav a:hover {
	color: #000;
	transition: 0.5s;
}

.dropdown-menu {
	text-align: center;
}

.dropdown-menu li {
    margin: 35px 25px 15px 15px;
}

.dropdown:hover .dropdown-menu {
	display: contents;
}

.menubutton {
	display: inline-block;
	z-index:1001;
}

	/* LANGUAGE SELECTOR */

.lang-button {
	font-size: 36px;
}

.lang-buttons {
	left:auto;
	top: 20px;
	right: 30px;
	z-index:1000;
}

	/* GENERAL CONTENT */

.text-container {
	width: 95%;
}

	/* portfolio: FILTER BUTTONS */
 
.button {
  font-size: 28px;
}

.navfooter {
	display: none;
}

.footer {
	display: block;
	position: relative;
	background-color: #fff;
	color: #707070;
	text-align: center;
	font-weight: 300;
	bottom: 0;
	width: 100vw;
	letter-spacing: .1rem;
	font-size: 24px;
	border-top: 3px solid #F5F5F5;
}

	/* home: RANDOM IMAGE */

.random-image {
    flex-basis: 100%;
    max-width: 100%;
}

	/* GALLERY IMAGE POPUP */ 

.image-popup .close-button {
    font-size: 100px;
}

.image-popup #popupImage {
    max-width: 100%;
    max-height: 90vh; 
	border: 0px solid #fff;
}

.prev-arrow {
    color: #fff;
    font-size: 50px;
    top: 17vh;
    left: 0px;
    padding: 33vh 2vw 33vh 2vw;
    text-shadow: 0px 0px 10px rgba(0,0,0, 0.5);
}

.prev-arrow:hover {
	color: #fff;
}

.next-arrow {
    color: #fff;
    font-size: 50px;
    top: 17vh;
    right: 0px;
    padding: 33vh 2vw 33vh 2vw;
    text-shadow: 0px 0px 10px rgba(0,0,0, 0.5);
}

.next-arrow:hover {
	color: #fff;
}


	/* PROJECT GALLERY DISPLAY page */

.gallery-container {
	width: 95%;
}

.thumbnail {
	max-height: 7vh;
}

.thumbnail.active-thumbnail {
	max-height:calc(7vh + 6px);
	transition: 0.2s;
	padding: 0px;
}

.main-image-container {
	height: 50vh;
}

.main-image {
	max-width: 95vw;
	max-height: 50vh;
}

}